.clinica{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0px;
}

.clinica .link-clinica{
    width: 900px;
}

.img-clinica-1{
    width: 100%;
    height: 250px;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.img-clinica-2{
    display: none;
}

@media (max-width:910px) {
    .clinica .link-clinica{
        width: 600px;
    }

    .img-clinica-1{
        width: 100%;
        height: 150px;
        object-fit: cover;
        aspect-ratio: 16/9;
    }
}

@media (max-width:610px) {
    .clinica .link-clinica{
        width: 400px;
    }

    .img-clinica-1{
        width: 100%;
        height: 100px;
        object-fit: cover;
        aspect-ratio: 16/9;
    }
}

@media (max-width:410px) {
    .clinica .link-clinica{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .img-clinica-1{
        display: none;
    }

    .img-clinica-2{
        display: block;
        padding: 10px;
        width: 250px;
        height: 90px;
        aspect-ratio: 16/9;
        background-color: #18466d;
    }
}